.modal-delivery {
  --gap: 8px;
  background-color: #fff;
  width: 100%;
  min-height: 100%;
  padding: 32px 10px;
  display: flex;
}

.modal-delivery__container {
  max-width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-delivery__title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 18px;
}

.modal-delivery__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-grow: 1;
  margin-bottom: 18px;

}


.modal-delivery__fieldset {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.modal-delivery__fieldset_radio {
  flex-direction: column;
  align-items: flex-start;
}

.modal-delivery__fieldset_hide {
  visibility: hidden;
}

.modal-delivery__input {
  width: 100%;
  height: 30%;
  border: 1px solid #F2F2F3;
  border-radius: 8px;
  padding: 8px 12px;
  font-weight: 400;
  font-size: 10px;
  line-height: 130%;
  color: #000;
}

.modal-delivery__input_half {
  flex-basis: calc((100% - var(--gap)) / 2);
}

.modal-delivery__input::placeholder {
  color: #B1B1B1;
}

.modal-delivery__label {
  display: flex;
  gap: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
}

.modal-delivery__radio {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 12px;
}

.modal-delivery__radio:before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #F2F2F3;
}

.modal-delivery__radio:after {
  content: '';
  position: absolute;;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0;
}

.modal-delivery__radio:checked:after {
  opacity: 1;
}


.modal-delivery__submit {
  padding: 9px;
  background-color: #ff7020;
  color: #fff;
  border-radius: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  transition: transform .1s ease, background-color .3s ease-in-out;
}

.modal-delivery__submit:hover {
  background-color: #ffab08;
}

.modal-delivery__submit:focus-visible {
  background-color: #f86310;
}

.modal-delivery__submit:active {
  transform: translate(1px, 2px);
}

.modal-delivery__submit:disabled {
  background-color: #F9F9F9;
  color: #acacac;
}



@media (min-width: 480px) {
  .modal-delivery {
    max-width: 524px;
    min-height: auto;
    padding: 20px 16px 29px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
  }

  .modal-delivery__container {
    margin-left: 0;
  }

}

@media (min-width: 1024px) {
  .modal-delivery {
    max-width: 684px;
    padding: 44px 24px 24px 366px;
    background: url('../img/donut.svg') 19px center,  linear-gradient(to right, #ffab08 50%, #fff 50%);
    background-size: 302px, auto;
    background-repeat: no-repeat;
  }

  .modal-delivery__title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .modal-delivery__form {
    margin-bottom: 32px;
    gap: 16px;
  }

  .modal-delivery__input {
    font-size: 12px;
    padding: 10px 12px;
    height: 40px;
  }

  .modal-delivery__label {
    font-size: 12px;
  }

  .modal-delivery__fieldset_radio {
    gap: 12px;
  }

  .modal-delivery__submit {
    font-size: 16px;
  }


}
